.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  background-color: #5a462c;
}

button{
  color: #004d35;
  border: solid black 1px;
  border-radius: 6px;
  margin: 3px;
  padding: 5px;
}

.mainWindow {
  z-index: 1;
  overflow-x:hidden;
}

.okno{
  position: relative;
  width: 100px;
  height: 100px;
  cursor: grab;
  z-index: 1000;
  background-color: burlywood;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  border-radius: 15px;
}